################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.log
*.out
*.aux
*.gz
*.toc
*.syntex
__latexindent_temp.tex